openai >= 1.1.0
google-generativeai >= 0.4.1
pydantic < 2.0.0
text_generation >= 0.6.0
click
tiktoken
rich
inquirer
prompt_toolkit
pyperclip
requests
llama-cpp-python
huggingface-hub >= 0.22.2
minijinja 
anthropic >= 0.23.0